* {
  box-sizing: border-box;
}

html {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #323232;
  overflow-x: hidden;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e2e2e2;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5f7dcb;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px rgba(10, 62, 141, 0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #4364b9;
  }
}

img {
  transition: 0.4s all;
}

img:not([src]):not([srcset]) {
  opacity: 0;
  transform: scale(1);
}

.js-image-zoom__zoomed-area {
  opacity: 0 !important;
}

.js-image-zoom__zoomed-image {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 5;
  width: 450px !important;
  height: 450px !important;
  background-size: 100% 100% !important;
  background-position: center !important;
  cursor: default;
  transition: 0.3s all !important;
  animation: 0.45s zoom-show ease-in;
}

@keyframes zoom-show {
  from {
    opacity: 0;
    background-size: 60% 60% !important;
  }

  to {
    opacity: 1;
    background-size: 100% 100% !important;
  }
}

#root {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

picture {
  display: flex;
}

button {
  background: none;
  outline: none;
  border: none;
  width: auto;
  padding: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #323232;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4eb749;
  border-radius: 15px;
  padding: 30px 90px;
  min-height: 77px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s background;

  @media (min-width: 768px) {
    &:hover {
      background: #378133;
    }
  }

  @media (max-width: 575px) {
    min-height: 57px;
    padding: 20px 40px;
    font-size: 18px;
    line-height: 17px;
  }
}

.btn-anim {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -100%;
    width: 100%;
    height: 120%;
    background: linear-gradient(
      100deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 25%,
      rgba(214, 214, 214, 0.25) 51%,
      rgba(0, 0, 0, 0) 76%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: blur(2px);
    transition: opacity 2s ease;
    animation: btn-sheen 2s forwards infinite;
  }

  &:hover {
    &:before {
      transition: opacity 0.2s ease;
      opacity: 0 !important;
    }
  }
}

@keyframes btn-sheen {
  100% {
    transform: translateY(-50%) translateX(200%);
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1452px;
  width: 85%;
  padding: 0 16px;
  margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 20px;
    width: 100%;
  }
}

.hidden-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-white {
  color: #ffffff;
}

.text-primary {
  color: #5f7dcb;
}

.title-box {
  margin-bottom: 50px;

  @media (max-width: 575px) {
    margin-bottom: 30px;
  }

  .title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 992px) {
      font-size: 42px;
      line-height: 120%;
    }

    @media (max-width: 575px) {
      font-size: 27px;
      line-height: 34px;
    }
  }

  .subtitle {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    @media (max-width: 992px) {
      margin-top: 15px;
      font-size: 26px;
      line-height: 120%;
    }

    @media (max-width: 575px) {
      margin-top: 10px;
      font-size: 22px;
      line-height: 29px;
    }
  }
}

.row {
  width: 100%;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  span {
    width: 11px;
    height: 11px;
    margin: 0 !important;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #323232;
    opacity: 1;
    transition: 0.3s all;
    &:hover {
      background: #323232;
    }

    &.swiper-pagination-bullet-active {
      background: #323232;
    }
  }
}

.round {
  flex-shrink: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #32a848;
  width: 29px;
  height: 29px;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-align: center;

  @media (max-width: 768px) {
    width: 22px;
    height: 22px;
    font-size: 14px;
  }
}
