.gallery {
  .model3d {
    width: 100%;
    height: 100%;
  }

  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 60px 0;
  }

  @media (max-width: 575px) {
    padding: 30px 0;
  }

  &__name {
    position: relative;
    width: calc(100% / 3);
    padding: 10px;
    font-family: "Inter";
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    @media (max-width: 575px) {
      width: 100%;
      font-size: 18px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: #aeaeae;
    }
  }
  &__name.active {
    font-weight: 700;
    color: rgba(106, 206, 101, 1);
    &::before {
      height: 2px;
      background: rgba(106, 206, 101, 1);
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__img {
    display: flex;
    justify-content: center;
    cursor: zoom-in;
    img {
      border-radius: 10px;
    }
  }
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    @media (max-width: 991px) {
      gap: 0px;
    }
  }
  &__pagination {
    width: auto !important;
  }
  &__prev,
  &__next {
    padding: 10px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: #323232;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    * {
      user-select: none;
    }

    @media (max-width: 1280px) {
      gap: 15px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    canvas {
      max-width: 100%;
    }
  }

  &__model {
    border-radius: 10px;
    background: #f4f4f4;
    position: relative;

    &-img {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 17%;

      @media (max-width: 991px) {
        right: 20px;
        top: 20px;
      }
      img {
        width: 100%;
      }
    }
  }
  &__box {
    display: grid;
    width: 100%;

    grid-template-columns: calc(67% - 10px) calc(33% - 10px);
    gap: 20px;

    @media (max-width: 1280px) {
      gap: 15px;
    }

    div {
      cursor: zoom-in;
      border-radius: 10px;
      overflow: hidden;
      opacity: 1;
      transition: 300ms opacity ease;
      @media (min-width: 768px) {
        &:hover {
          opacity: 0.5;
        }
      }
    }
    img {
      display: block;
      max-width: 100%;
      border-radius: 10px;
      transition: 300ms transform ease;
    }
  }
  &__item-1 {
    grid-column: 1/2;
    grid-row: 1/4;
  }

  &__box,
  &__wrapper {
    transition: 300ms opacity ease;
    &.entering {
      opacity: 0;
    }
    &.entered {
      opacity: 1;
    }
    &.exiting {
      display: none;
    }
    &.exited {
      display: none;
    }
  }
}
.fancybox__content {
  img {
    border-radius: 10px;
  }
}
