.question {
  padding: 100px 0;
  @media (max-width: 575px) {
    padding: 30px 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: calc(100% / 2 - 30px / 2);
    padding: 30px;
    background: linear-gradient(
      103.2deg,
      rgba(244, 244, 244, 0.78) -29.21%,
      rgba(238, 238, 238, 0.24) 82.36%
    );
    border-radius: 10px;
    text-align: center;
    @media (max-width: 767px) {
      width: 100%;
    }
    @media (max-width: 575px) {
      padding: 20px;
    }
  }
  &__item-heading {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    br {
      display: none;
      @media (min-width: 768px) and (max-width: 991px) {
        display: block;
      }
    }

    @media (max-width: 575px) {
      font-size: 22px;
      line-height: 29px;
    }
  }
  &__item-desc {
    font-size: 22px;
    line-height: 29px;

    br {
      display: none;
      @media (min-width: 768px) and (max-width: 991px) {
        display: block;
      }
    }

    @media (max-width: 575px) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  &__item-btn {
    margin-top: 20px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    color: #292929;
    opacity: 1;
    transition: 300ms opacity ease;
    @media (min-width: 768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @media (max-width: 575px) {
      font-size: 18px;
    }
  }
}
